<section class="min-w-125">
    <form>
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
        <legend class="fieldset-legend text-lg font-bold">Login</legend>

        <label class="label">Email
        <input type="email" class="input" placeholder="Email" #email /></label>

        <label class="label">Password
        <input type="password" class="input" placeholder="Password" #password /></label>

        <button type="button" class="btn bg-linear-to-r from-red-500 to-pink-400 mt-4 text-white " (click)="login(email.value, password.value)">Login</button>
        </fieldset>
    </form>
</section>